@charset "UTF-8";
/************************************************************************
* Woo Layouts
*************************************************************************/
.woocommerce-account .woocommerce-MyAccount-navigation {
    float: left;
    width: 25%
}

.woocommerce-account .woocommerce-MyAccount-content {
    float: right;
    width: 73%
}

.woocommerce-MyAccount-navigation ul {
    margin-left: 0;
    border-top: 1px solid rgba(0, 0, 0, .05);
    padding-left: 0
}

.woocommerce-MyAccount-navigation ul li {
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    position: relative
}

.woocommerce-MyAccount-navigation ul li.is-active a:before {
    opacity: 1
}

.woocommerce-MyAccount-navigation ul li a {
    padding: .875em 0;
    display: block
}

.woocommerce-MyAccount-navigation ul li a:before {
    display: inline-block;
    font: normal normal normal 1em/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0f6";
    line-height: 1.618;
    margin-left: .5407911001em;
    width: 1.41575em;
    text-align: right;
    float: right;
    opacity: .25
}

.woocommerce-MyAccount-navigation ul li a:hover:before {
    opacity: 1
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before {
    content: "\f0e4"
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before {
    content: "\f291"
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before {
    content: "\f1c6"
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before {
    content: "\f015"
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a:before {
    content: "\f09d"
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before {
    content: "\f007"
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before {
    content: "\f08b"
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--subscriptions a:before {
    content: "\f021"
}

@media (max-width:800px) {
    .woocommerce-account .woocommerce-MyAccount-navigation {
        width: 17.6470588235%;
        float: left;
        margin-right: 5.8823529412%
    }
    .woocommerce-account .woocommerce-MyAccount-content {
        width: 76.4705882353%;
        float: right;
        margin-right: 0
    }
}

@media (max-width:620px) {
    .woocommerce-account .woocommerce-MyAccount-navigation {
        width: 100%;
        float: none
    }
    .woocommerce-account .woocommerce-MyAccount-content {
        width: 100%;
        float: none;
        margin-right: 0;
        margin-top: 30px
    }
}
.woocommerce .variations_form.cart{
    background-color: #fff;
    border-bottom:1px solid rgba(0, 0, 0, 0.05);
    padding:20px 30px;
}
.woocommerce div.product form.cart .variations{
    width: 100%;
    margin: 0 !important;
}
.woocommerce .col2-set, .woocommerce-page .col2-set {
    width: 100%
}
.woocommerce .col2-set:after, .woocommerce .col2-set:before, .woocommerce-page .col2-set:after, .woocommerce-page .col2-set:before {
    content: " ";
    display: table;
}
.woocommerce .col2-set:after, .woocommerce-page .col2-set:after {
    clear: both;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    float: left;
    width: 48%
}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    float: right;
    width: 48%
}
.woocommerce img, .woocommerce-page img {
    height: auto;
    max-width: 100%
}
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    float: left;
    width: 48%
}
.woocommerce #content div.product div.thumbnails:after, .woocommerce #content div.product div.thumbnails:before, .woocommerce div.product div.thumbnails:after, .woocommerce div.product div.thumbnails:before, .woocommerce-page #content div.product div.thumbnails:after, .woocommerce-page #content div.product div.thumbnails:before, .woocommerce-page div.product div.thumbnails:after, .woocommerce-page div.product div.thumbnails:before {
    content: " ";
    display: table;
}
.woocommerce #content div.product div.thumbnails:after, .woocommerce div.product div.thumbnails:after, .woocommerce-page #content div.product div.thumbnails:after, .woocommerce-page div.product div.thumbnails:after {
    clear: both;
}
.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a, .woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
    float: left;
    width: 30.75%;
    margin-right: 3.8%;
    /*margin-bottom: 1em;*/
}
.woocommerce #content div.product div.thumbnails a.last, .woocommerce div.product div.thumbnails a.last, .woocommerce-page #content div.product div.thumbnails a.last, .woocommerce-page div.product div.thumbnails a.last {
    margin-right: 0;
}
.woocommerce #content div.product div.thumbnails a.first, .woocommerce div.product div.thumbnails a.first, .woocommerce-page #content div.product div.thumbnails a.first, .woocommerce-page div.product div.thumbnails a.first {
    clear: both;
}
.woocommerce #content div.product div.thumbnails.columns-1 a, .woocommerce div.product div.thumbnails.columns-1 a, .woocommerce-page #content div.product div.thumbnails.columns-1 a, .woocommerce-page div.product div.thumbnails.columns-1 a {
    width: 100%;
    margin-right: 0;
    float: none;
}
.woocommerce #content div.product div.thumbnails.columns-2 a, .woocommerce div.product div.thumbnails.columns-2 a, .woocommerce-page #content div.product div.thumbnails.columns-2 a, .woocommerce-page div.product div.thumbnails.columns-2 a {
    width: 48%
}
.woocommerce #content div.product div.thumbnails.columns-4 a, .woocommerce div.product div.thumbnails.columns-4 a, .woocommerce-page #content div.product div.thumbnails.columns-4 a, .woocommerce-page div.product div.thumbnails.columns-4 a {
    width: 22.05%
}
.woocommerce #content div.product div.thumbnails.columns-5 a, .woocommerce div.product div.thumbnails.columns-5 a, .woocommerce-page #content div.product div.thumbnails.columns-5 a, .woocommerce-page div.product div.thumbnails.columns-5 a {
    width: 16.9%
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    float: right;
    width: 48%
}
.woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
    clear: both;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs:after, .woocommerce #content div.product .woocommerce-tabs ul.tabs:before, .woocommerce div.product .woocommerce-tabs ul.tabs:after, .woocommerce div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:after, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs:after, .woocommerce-page div.product .woocommerce-tabs ul.tabs:before {
    content: " ";
    display: table;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs:after, .woocommerce div.product .woocommerce-tabs ul.tabs:after, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:after, .woocommerce-page div.product .woocommerce-tabs ul.tabs:after {
    clear: both;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li {
    display: inline-block;
}
.woocommerce #content div.product #reviews .comment:after, .woocommerce #content div.product #reviews .comment:before, .woocommerce div.product #reviews .comment:after, .woocommerce div.product #reviews .comment:before, .woocommerce-page #content div.product #reviews .comment:after, .woocommerce-page #content div.product #reviews .comment:before, .woocommerce-page div.product #reviews .comment:after, .woocommerce-page div.product #reviews .comment:before {
    content: " ";
    display: table;
}
.woocommerce #content div.product #reviews .comment:after, .woocommerce div.product #reviews .comment:after, .woocommerce-page #content div.product #reviews .comment:after, .woocommerce-page div.product #reviews .comment:after {
    clear: both;
}
.woocommerce #content div.product #reviews .comment img, .woocommerce div.product #reviews .comment img, .woocommerce-page #content div.product #reviews .comment img, .woocommerce-page div.product #reviews .comment img {
    float: right;
    height: auto;
}
.woocommerce .related, .woocommerce .upsells.products, .woocommerce-page .related, .woocommerce-page .upsells.products {
    clear: both;
}
.woocommerce .related:after, .woocommerce .related:before, .woocommerce .upsells.products:after, .woocommerce .upsells.products:before, .woocommerce-page .related:after, .woocommerce-page .related:before, .woocommerce-page .upsells.products:after, .woocommerce-page .upsells.products:before {
    content: " ";
    display: table;
}
.woocommerce .related:after, .woocommerce .upsells.products:after, .woocommerce-page .related:after, .woocommerce-page .upsells.products:after {
    clear: both;
}
.woocommerce .related ul, .woocommerce .related ul.products, .woocommerce .upsells.products ul, .woocommerce .upsells.products ul.products, .woocommerce-page .related ul, .woocommerce-page .related ul.products, .woocommerce-page .upsells.products ul, .woocommerce-page .upsells.products ul.products {
    float: none;
}
/*Changed*/
/*.woocommerce .related ul li.product, 
.woocommerce .related ul.products li.product, 
.woocommerce .upsells.products ul li.product, 
.woocommerce .upsells.products ul.products li.product, 
.woocommerce-page .related ul li.product, 
.woocommerce-page .related ul.products li.product, 
.woocommerce-page .upsells.products ul li.product, 
.woocommerce-page .upsells.products ul.products li.product {
    width: 48%}*/

.woocommerce .related ul li.product img, .woocommerce .related ul.products li.product img, .woocommerce .upsells.products ul li.product img, .woocommerce .upsells.products ul.products li.product img, .woocommerce-page .related ul li.product img, .woocommerce-page .related ul.products li.product img, .woocommerce-page .upsells.products ul li.product img, .woocommerce-page .upsells.products ul.products li.product img {
    width: 100%;
    height: auto;
}
.woocommerce ul.products, .woocommerce-page ul.products {
    clear: both;
}
.woocommerce ul.products:after, .woocommerce ul.products:before, .woocommerce-page ul.products:after, .woocommerce-page ul.products:before {
    content: " ";
    display: table;
}
.woocommerce ul.products:after, .woocommerce-page ul.products:after {
    clear: both;
}
.woocommerce ul.products li.product .wbc-shop-item-wrap, .woocommerce-page ul.products li.product .wbc-shop-item-wrap{
    border-bottom:1px solid rgba(0, 0, 0, 0.05);
    background-color: #fff;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    float: left;
    margin: 0 0 2.992em;
    padding: 0 15px;
    position: relative;
    width: 25%;
    /*ADDED*/
}
.woocommerce li.product .item-info-wrap, .woocommerce-page li.product .item-info-wrap {
    padding: 0 14px 12px 14px;
    min-height: 85px;
}
.woocommerce ul.products li.first, .woocommerce-page ul.products li.first {
    clear: both;
}
.woocommerce ul.products li.last, .woocommerce-page ul.products li.last {
    margin-right: 0;
}
.woocommerce-page.columns-1 ul.products li.product, .woocommerce.columns-1 ul.products li.product {
    width: 100%;
    margin-right: 0;
}
.woocommerce-page.columns-2 ul.products li.product, .woocommerce.columns-2 ul.products li.product {
    width: 50%;
}
.woocommerce-page.columns-3 ul.products li.product, .woocommerce.columns-3 ul.products li.product {
    width: 33.33333333%;
}
.woocommerce-page.columns-5 ul.products li.product, .woocommerce.columns-5 ul.products li.product {
    width: 20%;
}
.woocommerce-page.columns-6 ul.products li.product, .woocommerce.columns-6 ul.products li.product {
    width: 16.666667%;
}
.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
    float: left;
}
.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
    float: right;
}
.woocommerce .woocommerce-pagination ul.page-numbers:after, .woocommerce .woocommerce-pagination ul.page-numbers:before, .woocommerce-page .woocommerce-pagination ul.page-numbers:after, .woocommerce-page .woocommerce-pagination ul.page-numbers:before {
    content: " ";
    display: table;
}
.woocommerce .woocommerce-pagination ul.page-numbers:after, .woocommerce-page .woocommerce-pagination ul.page-numbers:after {
    clear: both;
}
.woocommerce .woocommerce-pagination ul.page-numbers li, .woocommerce-page .woocommerce-pagination ul.page-numbers li {
    display: inline-block;
}
.woocommerce #content table.cart img, .woocommerce table.cart img, .woocommerce-page #content table.cart img, .woocommerce-page table.cart img {
    height: auto;
}
.woocommerce #content table.cart td.actions, .woocommerce table.cart td.actions, .woocommerce-page #content table.cart td.actions, .woocommerce-page table.cart td.actions {
    text-align: right;
}
.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 120px;
}
.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
    float: left;
}
.woocommerce #content table.cart td.actions .coupon label, .woocommerce table.cart td.actions .coupon label, .woocommerce-page #content table.cart td.actions .coupon label, .woocommerce-page table.cart td.actions .coupon label {
    display: none;
}
.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
    width: 100%
}
.woocommerce .cart-collaterals:after, .woocommerce .cart-collaterals:before, .woocommerce-page .cart-collaterals:after, .woocommerce-page .cart-collaterals:before {
    content: " ";
    display: table;
}
.woocommerce .cart-collaterals:after, .woocommerce-page .cart-collaterals:after {
    clear: both;
}
.woocommerce .cart-collaterals .related, .woocommerce-page .cart-collaterals .related {
    width: 30.75%;
    float: left;
}
.woocommerce .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .cross-sells {
    width: 48%;
    float: left;
}
.woocommerce .cart-collaterals .cross-sells ul.products, .woocommerce-page .cart-collaterals .cross-sells ul.products {
    float: none;
}
.woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li {
    width: 50%;
}
.woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator {
    width: 48%;
    clear: right;
    float: right;
}
.woocommerce .cart-collaterals .shipping_calculator:after, .woocommerce .cart-collaterals .shipping_calculator:before, .woocommerce-page .cart-collaterals .shipping_calculator:after, .woocommerce-page .cart-collaterals .shipping_calculator:before {
    content: " ";
    display: table;
}
.woocommerce .cart-collaterals .shipping_calculator:after, .woocommerce-page .cart-collaterals .shipping_calculator:after {
    clear: both;
}
.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-1, .woocommerce .cart-collaterals .shipping_calculator .col2-set .col-2, .woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-1, .woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-2 {
    width: 47%
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    float: right;
    width: 48%
}
.woocommerce ul.cart_list li:after, .woocommerce ul.cart_list li:before, .woocommerce ul.product_list_widget li:after, .woocommerce ul.product_list_widget li:before, .woocommerce-page ul.cart_list li:after, .woocommerce-page ul.cart_list li:before, .woocommerce-page ul.product_list_widget li:after, .woocommerce-page ul.product_list_widget li:before {
    content: " ";
    display: table;
}
.woocommerce ul.cart_list li:after, .woocommerce ul.product_list_widget li:after, .woocommerce-page ul.cart_list li:after, .woocommerce-page ul.product_list_widget li:after {
    clear: both;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img {
    float: right;
    height: auto;
}
.woocommerce form .form-row:after, .woocommerce form .form-row:before, .woocommerce-page form .form-row:after, .woocommerce-page form .form-row:before {
    content: " ";
    display: table;
}
.woocommerce form .form-row:after, .woocommerce-page form .form-row:after {
    clear: both;
}
.woocommerce form .form-row label, .woocommerce-page form .form-row label {
    display: block;
}
.woocommerce form .form-row label.checkbox, .woocommerce-page form .form-row label.checkbox {
    display: inline;
}
.woocommerce form .form-row select, .woocommerce-page form .form-row select {
    width: 100%
}
.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text {
    box-sizing: border-box;
    width: 100%
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
    float: left;
    width: 47%;
    overflow: visible;
}
.woocommerce form .form-row-last, .woocommerce-page form .form-row-last {
    float: right;
}
.woocommerce form .form-row-wide, .woocommerce-page form .form-row-wide {
    clear: both;
}
.woocommerce #payment .form-row select, .woocommerce-page #payment .form-row select {
    width: auto;
}
.woocommerce #payment .terms, .woocommerce-page #payment .terms {
    text-align: right;
    padding: 0 1em;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    float: right;
}
/************************************************************************
* Woo Defaults
*************************************************************************/
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg)
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
p.demo_store {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    font-size: 1em;
    padding: 1em 0;
    text-align: center;
    background-color: #a46497;
    color: #fff;
    z-index: 99998;
    box-shadow: 0 1px 1em rgba(0, 0, 0, .2)
}
.admin-bar p.demo_store {
    top: 32px
}
.clear {
    clear: both
}
.woocommerce .blockUI.blockOverlay {
    position: relative
}
.woocommerce .blockUI.blockOverlay:before, .woocommerce .loader:before {
    height: 1em;
    width: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -.5em;
    margin-top: -.5em;
    display: block;
    -webkit-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    content: "";
    /*background: url(../images/icons/loader.svg) center center/cover;*/
    
    line-height: 1;
    text-align: center;
    font-size: 2em;
    color: rgba(0, 0, 0, .75)
}
.woocommerce a.remove {
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    color: red!important;
    text-decoration: none;
    font-weight: normal;
    border: 0
}
.woocommerce a.remove:hover {
    color: #fff!important;
    background: red;
}
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message {
    padding: 1em 2em 1em 3.5em!important;
    margin: 0 0 2em!important;
    position: relative;
    background-color: #f7f6f7;
    color: #515151;
    border-left: 2px solid #fa8322;
    list-style: none!important;
    width: auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.woocommerce .woocommerce-error:after, .woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:after, .woocommerce .woocommerce-info:before, .woocommerce .woocommerce-message:after, .woocommerce .woocommerce-message:before {
    content: " ";
    display: table
}
.woocommerce .woocommerce-error:after, .woocommerce .woocommerce-info:after, .woocommerce .woocommerce-message:after {
    clear: both
}
.woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:before, .woocommerce .woocommerce-message:before {
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 18px;
    left: 1em;
    position: absolute;
    top: 0.6em;
}
.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button, .woocommerce .woocommerce-message .button {
    float: right
}
.woocommerce .woocommerce-error li, .woocommerce .woocommerce-info li, .woocommerce .woocommerce-message li {
    list-style: none!important;
    padding-left: 0!important;
    margin-left: 0!important
}
.woocommerce .woocommerce-message {
    border-left-color: #fa8322;
}
.woocommerce .woocommerce-message:before {
    content: "";
    color: #fa8322;
}
.woocommerce .woocommerce-info {
    border-left-color: #1e85be
}
.woocommerce .woocommerce-info:before {
    color: #1e85be
}
.woocommerce .woocommerce-error {
    border-left-color: #b81c23
}
.woocommerce .woocommerce-error:before {
    content: "";
    color: #b81c23
}
.woocommerce small.note {
    display: block;
    color: #777;
    font-size: .857em;
    margin-top: 10px
}
.woocommerce-product-search .screen-reader-text{
    display: none;
}
.woocommerce .woocommerce-breadcrumb {
    margin: 0 0 1em;
    padding: 0;
    font-size: .92em;
    color: #777
}
.woocommerce .woocommerce-breadcrumb:after, .woocommerce .woocommerce-breadcrumb:before {
    content: " ";
    display: table
}
.woocommerce .woocommerce-breadcrumb:after {
    clear: both
}
.woocommerce .woocommerce-breadcrumb a {
    color: #777
}
.woocommerce .quantity .qty {
    width: 3.631em;
    text-align: center
}
.woocommerce .quantity input.minus, .woocommerce .quantity input.plus {
    height: 34px;
    width: 34px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    color: #000;
    background-color: #f3f3f3;
}
.woocommerce .quantity input.minus {
    /*border-right: none;*/
}
.woocommerce .quantity input.plus {
    /*border-left: none;*/
}
.woocommerce div.product {
    margin-bottom: 0;
    position: relative
}
.woocommerce div.product .product_title {
    clear: none;
    margin-top: 0;
    padding: 0
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    /*color: #77a464;*/
    
    font-size: 1.25em
}
.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {
    background: inherit;
    font-weight: 700
}
.woocommerce div.product p.price del, .woocommerce div.product span.price del {
    opacity: .5;
    filter: alpha(opacity=50);
    /*display: block*/
}
.woocommerce div.product p.stock {
    font-size: .92em
}
.woocommerce div.product .stock {
    color: #fa8322;
}
.woocommerce div.product .out-of-stock {
    color: red
}
.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 1.618em
}
.woocommerce div.product div.images {
    margin-bottom: 42px;
}
.woocommerce div.product div.images img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: none;
    padding:3px;
    border:1px solid rgba(0, 0, 0, 0.07);
    image-rendering: optimizeQuality;
}
.woocommerce div.product div.images div.thumbnails {
    padding-top: 1em
}
.woocommerce div.product div.summary {
    margin-bottom: 2em
}
.woocommerce div.product div.social {
    text-align: right;
    margin: 0 0 1em
}
.woocommerce div.product div.social span {
    margin: 0 0 0 2px
}
.woocommerce div.product div.social span span {
    margin: 0
}
.woocommerce div.product div.social span .stButton .chicklets {
    padding-left: 16px;
    width: 0
}
.woocommerce div.product div.social iframe {
    float: left;
    margin-top: 3px
}
/*.woocommerce div.product .woocommerce-tabs .comment-reply-title{
    margin-bottom: 21px;
}*/
.woocommerce div.product .woocommerce-tabs ul.tabs {
    list-style: none;
    padding: 0 0 0 1em;
    margin: 0 0 1.618em;
    overflow: hidden;
    position: relative
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: 1px solid #d3ced2;
    background-color: #ebe9eb;
    display: inline-block;
    position: relative;
    z-index: 0;
    border-radius: 4px 4px 0 0;
    margin: 0 -5px;
    padding: 0 1em
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    display: inline-block;
    padding: .5em 0;
    font-weight: 700;
    color: #515151;
    text-decoration: none
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
    text-decoration: none;
    color: #6b6b6b
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: #fff;
    z-index: 2;
    border-bottom-color: #fff
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    color: inherit;
    text-shadow: inherit
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before {
    box-shadow: 2px 2px 0 #fff
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after {
    box-shadow: -2px 2px 0 #fff
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce div.product .woocommerce-tabs ul.tabs li:before {
    border: 1px solid #d3ced2;
    position: absolute;
    bottom: -1px;
    width: 5px;
    height: 5px;
    content: " "
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
    left: -6px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-width: 0 1px 1px 0;
    box-shadow: 2px 2px 0 #ebe9eb
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
    right: -6px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 0 #ebe9eb
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #d3ced2;
    z-index: 1
}
.woocommerce div.product .woocommerce-tabs .panel {
    margin: 0 0 42px;
    padding: 0
}
.woocommerce div.product p.cart {
    margin-bottom: 2em
}
.woocommerce div.product p.cart:after, .woocommerce div.product p.cart:before {
    content: " ";
    display: table
}
.woocommerce div.product p.cart:after {
    clear: both
}
.woocommerce div.product form.cart {
    margin:2em 0;
}
.woocommerce div.product form.cart:after, .woocommerce div.product form.cart:before {
    content: " ";
    display: table
}
.woocommerce div.product form.cart:after {
    clear: both
}
.woocommerce div.product form.cart div.quantity {
    float: left;
    margin: 0 4px 0 0
}
.woocommerce div.product form.cart table {
    border-width: 0 0 1px
}
.woocommerce div.product form.cart table td {
    padding-left: 0
}
.woocommerce div.product form.cart table div.quantity {
    float: none;
    margin: 0
}
.woocommerce div.product form.cart table small.stock {
    display: block;
    float: none
}
.woocommerce div.product form.cart .variations {
    margin-bottom: 1em;
    border: 0
}
.woocommerce div.product form.cart .variations td, .woocommerce div.product form.cart .variations th {
    border: 0
}
.woocommerce div.product form.cart .variations label {
    font-weight: normal;
    padding-top: 12px;
    color: inherit;
}
.woocommerce div.product form.cart .variations select {
    width: 100%;
    float: left
}
.woocommerce div.product form.cart .variations td.label {
    padding-right: 1em;
    font-weight: normal;
    color: inherit;
}
.woocommerce div.product form.cart .variations td {
    vertical-align: top
}
.woocommerce div.product form.cart .button {
    vertical-align: middle;
    float: left;
    margin-left: 4px;
    padding: 7px 12px;
}
.woocommerce div.product form.cart .group_table td.label {
    padding-right: 1em;
    padding-left: 1em
}
.woocommerce div.product form.cart .group_table td {
    vertical-align: top;
    padding-bottom: .5em;
    border: 0
}
.woocommerce span.onsale {
    background-color: #fa8322;
    color: #fff;
    font-weight: normal;
    left: -30px;
    line-height: 30px;
    margin: 0;
    min-width: 100px;
    padding: 4px;
    position: absolute;
    text-align: center;
    top: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: antialiased;
}
.woocommerce .products ul, .woocommerce ul.products {
    margin: 0 -15px 1em;
    padding: 0;
    list-style: none;
    clear: both
}
.woocommerce .products ul:after, .woocommerce .products ul:before, .woocommerce ul.products:after, .woocommerce ul.products:before {
    content: " ";
    display: table
}
.woocommerce .products ul:after, .woocommerce ul.products:after {
    clear: both
}
.woocommerce .products ul li, .woocommerce ul.products li {
    list-style: none
}
.woocommerce ul.products li.product .onsale {
    left: auto;
    margin: 0;
    right: -30px;
    top: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.woocommerce ul.products li.product h3 {
    padding: .5em 0;
    margin: 0;
    font-size: 13px;
    color: #000;
}

.woocommerce ul.products li.product-category.product h3{
    padding: 0 14px 14px;
}
.woocommerce ul.products li.product-category.product mark{
    background-color: transparent;
    opacity: .5;
    filter: alpha(opacity=50);
    color: inherit;
}
.woocommerce ul.products li.product a {
    text-decoration: none;
}
.woocommerce ul.products li.product a img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 1em;
    box-shadow: none;
    image-rendering: optimizeQuality;
    border:1px solid rgba(0,0,0,0.07);
    border-bottom: none;
}
.woocommerce ul.products li.product strong {
    display: block
}
.woocommerce ul.products li.product .star-rating {
    font-size: 13px;
}
.woocommerce ul.products li.product .button {
    margin-top: 8px;
}
.woocommerce ul.products li.product .price {
    /*color: #77a464;*/
    
    display: block;
    font-weight: 400;
    margin-bottom: .5em;
    font-size: 13px;
}
.woocommerce ul.products li.product .price del {
    color: inherit;
    opacity: .5;
    filter: alpha(opacity=50);
    display: inline-block
}
.woocommerce ul.products li.product .price ins {
    background: 0 0;
    font-weight: 700
}
.woocommerce ul.products li.product .price .from {
    font-size: .67em;
    margin: -2px 0 0;
    text-transform: uppercase;
    color: rgba(132, 132, 132, .5)
}
.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
    margin: 0 0 1em
}
.woocommerce .woocommerce-ordering select {
    vertical-align: top
}
.woocommerce nav.woocommerce-pagination {
    text-align: center
}
.woocommerce nav.woocommerce-pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    clear: both;
    border: 1px solid #d3ced2;
    border-right: 0;
    margin: 1px
}
.woocommerce nav.woocommerce-pagination ul li {
    border-right: 1px solid #d3ced2;
    padding: 0;
    margin: 0;
    float: left;
    display: inline;
    overflow: hidden
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
    margin: 0;
    text-decoration: none;
    line-height: 1;
    font-size: 1em;
    font-weight: 400;
    padding: .5em;
    min-width: 1em;
    display: block
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
    background: #ebe9eb;
    color: #8a7e88
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #adadad;
    border-radius: 2px;
    color: #fff !important;
    background-color: #fa8322;
    border-color: #fa8322;
}
.woocommerce #respond input#submit.loading, .woocommerce a.button.loading, .woocommerce button.button.loading, .woocommerce input.button.loading {
    /* opacity: .25;
    padding-right: 2.618em*/
}
.woocommerce #respond input#submit.loading:after, .woocommerce a.button.loading:after, .woocommerce button.button.loading:after, .woocommerce input.button.loading:after {
    /*font-family: FontAwesome;
    content: "";
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    position: absolute;
    top: .618em;
    right: 1em;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite*/
}
.woocommerce #respond input#submit.added:after, .woocommerce a.button.added:after, .woocommerce button.button.added:after, .woocommerce input.button.added:after {
    /*font-family: WooCommerce;
    content: "\e017";
    margin-left: .53em;
    vertical-align: bottom*/
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
    -webkit-transition: all 0.28s linear 0s;
            transition: all 0.28s linear 0s;
    border-color: #000;
    background-color: #000;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    /* background-color: #a46497;
    color: #fff;*/
    
    -webkit-font-smoothing: antialiased
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    /*background-color: #935386;
    color: #fff*/
}
.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover {
    /*background-color: #a46497;
    color: #fff*/
}
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
    color: inherit;
    cursor: not-allowed;
    /*opacity: .5*/
}
.woocommerce #respond input#submit.disabled:hover, .woocommerce #respond input#submit:disabled:hover, .woocommerce #respond input#submit:disabled[disabled]:hover, .woocommerce a.button.disabled:hover, .woocommerce a.button:disabled:hover, .woocommerce a.button:disabled[disabled]:hover, .woocommerce button.button.disabled:hover, .woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover, .woocommerce input.button.disabled:hover, .woocommerce input.button:disabled:hover, .woocommerce input.button:disabled[disabled]:hover {
    /*color: inherit;
    background-color: #ebe9eb*/
}

.woocommerce .shop-wrapper .products{
    margin-bottom: 0;
}

.woocommerce .shop-wrapper .pagination{
    margin: 0;
}

.single-product .main-content-area{
    padding-bottom:21px;
}
/*IMAGE*/

.wbc-shop-image-wrapper, .single-product .product {
    position: relative;
    overflow: hidden;
}
.wbc-cart-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    line-height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    display: none;
}
.loading-cart .wbc-cart-animation, .loaded-cart .wbc-cart-animation {
    display: block;
}
.wbc-shop-buttons {
    text-align: center;
    padding-bottom: 7px;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    opacity: 0.5;
    filter: alpha(opacity=50);
    overflow: hidden;
    position: relative;
}
.wbc-shop-buttons .wbc-sep-line {
    background-color: rgba(0, 0, 0, 0.07);
    height: 20px;
    left: 50%;
    margin-left: -3px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 1px;
}
.woocommerce .products ul li:hover .wbc-shop-buttons, 
.woocommerce ul.products li:hover .wbc-shop-buttons,
.wbc-shop-buttons:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    transition:all 0.2s linear 0.1s;
}
.woocommerce ul.products li.product a.button {
    background-color: transparent;
    border: none;
    color: #000 !important;
    font-size: 12px;
    width: 49%;
    white-space: normal;
    float: left;
}
.woocommerce ul.products li.product .wbc-shop-buttons.single-shop-button a.button {
    width: 100%;
}
.woocommerce .cart .button, .woocommerce .cart input.button {
    float: none
}
.woocommerce a.added_to_cart {
    display: none !important;
    visibility: hidden !important;
}
.woocommerce #reviews h2 small {
    float: right;
    color: #777;
    font-size: 15px;
    margin: 10px 0 0
}
.woocommerce #reviews h2 small a {
    text-decoration: none;
    color: #777
}

.woocommerce #reviews p.woocommerce-noreviews{
    margin-bottom:18px;
}
.woocommerce #reviews h3 {
    /*margin: 0*/
}
.woocommerce #reviews #respond {
    margin: 0;
    border: 0;
    padding: 0
}
.woocommerce #reviews #comment {
    height: 75px
}
.woocommerce #reviews #comments .add_review:after, .woocommerce #reviews #comments .add_review:before {
    content: " ";
    display: table
}
.woocommerce #reviews #comments .add_review:after {
    clear: both
}
.woocommerce #reviews #comments h2 {
    clear: none
}
.woocommerce #reviews #comments ol.commentlist {
    margin: 0;
    width: 100%;
    background: 0 0;
    list-style: none
}
.woocommerce #reviews #comments ol.commentlist:after, .woocommerce #reviews #comments ol.commentlist:before {
    content: " ";
    display: table
}
.woocommerce #reviews #comments ol.commentlist:after {
    clear: both
}
.woocommerce #reviews #comments ol.commentlist li {
    padding: 0;
    margin: 0 0 20px;
    position: relative;
    background: 0;
    border: 0
}
.woocommerce #reviews #comments ol.commentlist li .meta {
    color: #777;
    font-size: .75em
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px;
    width: 32px;
    height: auto;
    background: #ebe9eb;
    border: 1px solid #e4e1e3;
    margin: 0;
    box-shadow: none
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0 0 0 50px;
    border: 1px solid #e4e1e3;
    border-radius: 4px;
    padding: 1em 1em 0
}
.woocommerce #reviews #comments ol.commentlist li .comment-text:after, .woocommerce #reviews #comments ol.commentlist li .comment-text:before {
    content: " ";
    display: table
}
.woocommerce #reviews #comments ol.commentlist li .comment-text:after {
    clear: both
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p {
    margin: 0 0 1em
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
    font-size: .83em
}
.woocommerce #reviews #comments ol.commentlist ul.children {
    list-style: none;
    margin: 20px 0 0 50px
}
.woocommerce #reviews #comments ol.commentlist ul.children .star-rating {
    display: none
}
.woocommerce #reviews #comments ol.commentlist #respond {
    border: 1px solid #e4e1e3;
    border-radius: 4px;
    padding: 1em 1em 0;
    margin: 20px 0 0 50px
}
.woocommerce #reviews #comments .commentlist>li:before {
    content: ""
}
.woocommerce .star-rating {
    float: right;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 1em;
    width: 4.7em;
    font-family: FontAwesome;
}
.woocommerce .star-rating:before {
    content: "";
    color: #d3ced2;
    float: left;
    top: 0;
    left: 0;
    position: absolute
}
.woocommerce .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em
}
.woocommerce .star-rating span:before {
    content: "";
    top: 0;
    position: absolute;
    left: 0;
    color: #ffd314 !important;
}
.woocommerce .woocommerce-product-rating {
    line-height: 2;
    display: block
}
.woocommerce .woocommerce-product-rating:after, .woocommerce .woocommerce-product-rating:before {
    content: " ";
    display: table
}
.woocommerce .woocommerce-product-rating:after {
    clear: both
}
.woocommerce .woocommerce-product-rating .star-rating {
    margin: .5em 4px 0 0;
    float: left
}
.woocommerce .products .star-rating {
    display: block;
    margin: 0 0 .5em;
    float: none
}
.woocommerce .hreview-aggregate .star-rating {
    margin: 10px 0 0
}
.woocommerce #review_form #respond {
    position: static;
    margin: 0;
    width: auto;
    padding: 0;
    background: 0 0;
    border: 0
}
.woocommerce #review_form #respond:after, .woocommerce #review_form #respond:before {
    content: " ";
    display: table
}
.woocommerce #review_form #respond:after {
    clear: both
}
.woocommerce #review_form #respond p {
    margin: 0 0 10px
}
.woocommerce #review_form #respond .form-submit input {
    left: auto
}
.woocommerce #review_form #respond textarea {
    box-sizing: border-box;
    width: 100%
}
.woocommerce p.stars {
    position: relative;
    font-size: 1em
}
.woocommerce p.stars a {
    display: inline-block;
    font-weight: 700;
    margin-right: 1em;
    text-indent: -9999px;
    position: relative;
    border-bottom: 0!important;
    outline: 0
}
.woocommerce p.stars a:last-child {
    border-right: 0
}
.woocommerce p.stars a.star-1, .woocommerce p.stars a.star-2, .woocommerce p.stars a.star-3, .woocommerce p.stars a.star-4, .woocommerce p.stars a.star-5 {
    border-right: 1px solid #ccc
}
.woocommerce p.stars a.star-1:after, .woocommerce p.stars a.star-2:after, .woocommerce p.stars a.star-3:after, .woocommerce p.stars a.star-4:after, .woocommerce p.stars a.star-5:after {
    font-family: FontAwesome;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0
}
.woocommerce p.stars a.star-1 {
    width: 2em
}
.woocommerce p.stars a.star-1:after {
    content: "";
    color: #d3ced2;
}
.woocommerce p.stars a.star-1.active:after, .woocommerce p.stars a.star-1:hover:after {
    content: "";
    color: #ffd314 !important;
}
.woocommerce p.stars a.star-2 {
    width: 3em
}
.woocommerce p.stars a.star-2:after {
    content: "";
    color: #d3ced2;
}
.woocommerce p.stars a.star-2.active:after, .woocommerce p.stars a.star-2:hover:after {
    content: "";
    color: #ffd314 !important;
}
.woocommerce p.stars a.star-3 {
    width: 4em
}
.woocommerce p.stars a.star-3:after {
    content: "";
    color: #d3ced2;
}
.woocommerce p.stars a.star-3.active:after, .woocommerce p.stars a.star-3:hover:after {
    content: "";
    color: #ffd314 !important;
}
.woocommerce p.stars a.star-4 {
    width: 5em
}
.woocommerce p.stars a.star-4:after {
    content: "";
    color: #d3ced2;
}
.woocommerce p.stars a.star-4.active:after, .woocommerce p.stars a.star-4:hover:after {
    content: "";
    color: #ffd314 !important;
}
.woocommerce p.stars a.star-5 {
    width: 6em;
    border: 0
}
.woocommerce p.stars a.star-5:after {
    content: "";
    color: #d3ced2;
}
.woocommerce p.stars a.star-5.active:after, .woocommerce p.stars a.star-5:hover:after {
    content: "";
    color: #ffd314 !important;
}
.woocommerce table.shop_attributes {
    border: 0;
    border-top: 1px dotted rgba(0, 0, 0, .1);
    margin-bottom: 1.618em;
    width: 100%
}
.woocommerce table.shop_attributes th {
    width: 150px;
    font-weight: 700;
    padding: 8px;
    border-top: 0;
    border-bottom: 1px dotted rgba(0, 0, 0, .1);
    margin: 0;
    line-height: 1.5
}
.woocommerce table.shop_attributes td {
    font-style: italic;
    padding: 0;
    border-top: 0;
    border-bottom: 1px dotted rgba(0, 0, 0, .1);
    margin: 0;
    line-height: 1.5
}
.woocommerce table.shop_attributes td p {
    margin: 0;
    padding: 8px 0
}
.woocommerce table.shop_attributes .alt td, .woocommerce table.shop_attributes .alt th {
    background: rgba(0, 0, 0, .025)
}
.woocommerce table.shop_table {
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 2px;
}
.woocommerce table.shop_table th {
    font-weight: normal;
    padding: 9px 12px
}
.woocommerce table.shop_table td {
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 6px 12px;
    vertical-align: middle
}
.woocommerce table.shop_table td small {
    font-weight: 400
}
.woocommerce table.shop_table tbody:first-child tr:first-child td, .woocommerce table.shop_table tbody:first-child tr:first-child th {
    border-top: 0
}
.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
    border-top: 1px solid rgba(0, 0, 0, .1)
}
.woocommerce table.my_account_orders {
    font-size: .85em
}
.woocommerce table.my_account_orders td, .woocommerce table.my_account_orders th {
    padding: 4px 8px;
    vertical-align: middle
}
.woocommerce table.my_account_orders .button {
    white-space: nowrap
}
.woocommerce table.my_account_orders .order-actions {
    text-align: right
}
.woocommerce table.my_account_orders .order-actions .button {
    margin: .125em 0 .125em .25em
}
.woocommerce td.product-name dl.variation {
    margin: .25em 0
}
.woocommerce td.product-name dl.variation:after, .woocommerce td.product-name dl.variation:before {
    content: " ";
    display: table
}
.woocommerce td.product-name dl.variation:after {
    clear: both
}
.woocommerce td.product-name dl.variation dd, .woocommerce td.product-name dl.variation dt {
    display: inline-block;
    float: left;
    margin-bottom: 1em
}
.woocommerce td.product-name dl.variation dt {
    font-weight: 700;
    padding: 0 0 .25em;
    margin: 0 4px 0 0;
    clear: left
}
.woocommerce td.product-name dl.variation dd {
    padding: 0 0 .25em
}
.woocommerce td.product-name dl.variation dd p:last-child {
    margin-bottom: 0
}
.woocommerce td.product-name p.backorder_notification {
    font-size: .83em
}
.woocommerce td.product-quantity {
    min-width: 80px
}
.woocommerce ul.cart_list, .woocommerce ul.product_list_widget {
    list-style: none;
    padding: 0;
    margin: 0
}
.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li {
    padding: 7px 0;
    margin: 0;
    list-style: none
}
.woocommerce ul.cart_list li:after, .woocommerce ul.cart_list li:before, .woocommerce ul.product_list_widget li:after, .woocommerce ul.product_list_widget li:before {
    content: " ";
    display: table
}
.woocommerce ul.cart_list li:after, .woocommerce ul.product_list_widget li:after {
    clear: both
}
.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a {
    display: block;
    padding-bottom: 4px;
    color: inherit !important;
    font-weight: 400;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
    float: left;
    margin-right: 14px;
    width: 56px;
    height: auto;
    box-shadow: none
}
.woocommerce ul.cart_list li dl, .woocommerce ul.product_list_widget li dl {
    margin: 0;
    float: left;
    padding-right: 3px;
    /*padding-left: 1em;*/
    /*border-left: 2px solid rgba(0, 0, 0, .1)*/
}
.woocommerce ul.cart_list li dl:after, .woocommerce ul.cart_list li dl:before, .woocommerce ul.product_list_widget li dl:after, .woocommerce ul.product_list_widget li dl:before {
    content: " ";
    display: table
}
.woocommerce ul.cart_list li dl:after, .woocommerce ul.product_list_widget li dl:after {
    clear: both
}
.woocommerce ul.cart_list li dl dd, .woocommerce ul.cart_list li dl dt, .woocommerce ul.product_list_widget li dl dd, .woocommerce ul.product_list_widget li dl dt {
    display: inline-block;
    float: left;
    margin-bottom: 1em
}
.woocommerce ul.cart_list li dl dt, .woocommerce ul.product_list_widget li dl dt {
    font-weight: 700;
    padding: 0 0 .25em;
    margin: 0 4px 0 0;
    clear: left
}
.woocommerce ul.cart_list li dl dd, .woocommerce ul.product_list_widget li dl dd {
    padding: 0 0 .25em
}
.woocommerce ul.cart_list li dl dd p:last-child, .woocommerce ul.product_list_widget li dl dd p:last-child {
    margin-bottom: 0
}
.woocommerce ul.cart_list li .star-rating, .woocommerce ul.product_list_widget li .star-rating {
    float: none
}
.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total {
    /*border-top: 1px solid rgba(0, 0, 0, 0.09);*/
    padding: 4px 0 0
}
.woocommerce .widget_shopping_cart .total strong, .woocommerce.widget_shopping_cart .total strong {
    min-width: 40px;
    display: inline-block
}
.woocommerce .widget_shopping_cart .cart_list li, .woocommerce.widget_shopping_cart .cart_list li {
    position: relative;
    padding: 7px 0;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove {
    position: absolute;
    top: 7px;
    right: 0;
}
.woocommerce .widget_shopping_cart .buttons:after, .woocommerce .widget_shopping_cart .buttons:before, .woocommerce.widget_shopping_cart .buttons:after, .woocommerce.widget_shopping_cart .buttons:before {
    content: " ";
    display: table
}
.woocommerce .widget_shopping_cart .buttons:after, .woocommerce.widget_shopping_cart .buttons:after {
    clear: both
}
.woocommerce form .form-row {
    padding: 3px;
    margin: 0 0 6px
}
.woocommerce form .form-row [placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: opacity .5s .5s ease;
    transition: opacity .5s .5s ease;
    opacity: 0;
    filter: alpha(opacity=0)
}
.woocommerce form .form-row label {
    line-height: 2
}
.woocommerce form .form-row label.hidden {
    visibility: hidden
}
.woocommerce form .form-row label.inline {
    display: inline
}
.woocommerce form .form-row select {
    cursor: pointer;
    margin: 0
}
.woocommerce form .form-row .required {
    color: red;
    font-weight: 700;
    border: 0
}
.woocommerce form .form-row .input-checkbox {
    display: inline;
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: 1
}
.woocommerce form .form-row textarea {
    height: 4em;
    line-height: 1.5;
    display: block;
    box-shadow: none
}
.woocommerce form .form-row .select2-container {
    width: 100%;
    line-height: 2em
}
.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select {
    border-color: #a00
}
.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select {
    border-color: #69bf29
}
.woocommerce form .form-row::-webkit-input-placeholder {
    line-height: normal
}
.woocommerce form .form-row:-moz-placeholder {
    line-height: normal
}
.woocommerce form .form-row:-ms-input-placeholder {
    line-height: normal
}
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
    border: 1px solid #d3ced2;
    padding: 20px;
    margin: 2em 0;
    text-align: left;
    border-radius: 5px
}
.woocommerce ul#shipping_method {
    list-style: none;
    margin: 0;
    padding: 0
}
.woocommerce ul#shipping_method li {
    margin: 0;
    padding: .25em 0 .25em 22px;
    text-indent: -22px;
    list-style: none
}
.woocommerce ul#shipping_method .amount {
    font-weight: 700
}
.woocommerce p.woocommerce-shipping-contents {
    margin: 0
}
.woocommerce .order_details {
    margin: 0 0 1.5em;
    list-style: none
}
.woocommerce .order_details:after, .woocommerce .order_details:before {
    content: " ";
    display: table
}
.woocommerce .order_details:after {
    clear: both
}
.woocommerce .order_details li {
    float: left;
    margin-right: 2em;
    text-transform: uppercase;
    font-size: .715em;
    line-height: 1;
    border-right: 1px dashed #d3ced2;
    padding-right: 2em
}
.woocommerce .order_details li strong {
    display: block;
    font-size: 1.4em;
    text-transform: none;
    line-height: 1.5
}
.woocommerce .order_details li:last-of-type {
    border: none
}
.woocommerce .widget_layered_nav ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none
}
.woocommerce .widget_layered_nav ul li {
    padding:7px 0;
    list-style: none
}
.woocommerce .widget_layered_nav ul li:after, .woocommerce .widget_layered_nav ul li:before {
    content: " ";
    display: table
}
.woocommerce .widget_layered_nav ul li:after {
    clear: both
}
.woocommerce .widget_layered_nav ul li a, .woocommerce .widget_layered_nav ul li span {
    padding: 1px 0;
    text-decoration: none
}
.woocommerce .widget_layered_nav ul li.chosen a:before {
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: .618em;
    content: "x";
    font-size: 10px;
    text-decoration: none;
    color: #a00
}
.woocommerce .widget_layered_nav_filters ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    overflow: hidden;
    zoom: 1
}
.woocommerce .widget_layered_nav_filters ul li {
    float: left;
    padding: 0 4px;
    list-style: none;
    border:none;
}
.woocommerce .widget_layered_nav_filters ul li a {
    text-decoration: none;
    padding: 7px 0;
}
.woocommerce .widget_layered_nav_filters ul li a:before {
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: .618em;
    content: "x";
    font-size: 10px;
    text-decoration: none;
    color: #a00
}
.woocommerce .widget_price_filter .price_slider {
    margin-bottom: 1em
}
.woocommerce .widget_price_filter .price_slider_amount {
    text-align: left;
    line-height: 2.4;
    font-size: .8751em;
    padding-top: 12px;
}
.woocommerce .widget_price_filter .price_slider_amount .button {
    font-size: 1.15em;
    float: right;
}
.woocommerce .widget_price_filter .ui-slider {
    position: relative;
    text-align: left
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 1em;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.3), 0 0 4px 0 rgba(0, 0, 0, 0.2) inset;
    cursor: ew-resize;
    height: 20px;
    outline: 0 none;
    position: absolute;
    top: -8px;
    width: 20px;
    z-index: 2;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:last-child {
    margin-left: -.8em
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    border-radius: 1em;
    background-color: #fa8322;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    border-radius: 1em;
    background-color: #999;
    border: 1px solid #888;
}
.woocommerce .widget_price_filter .ui-slider-horizontal {
    height: .5em
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
    left: -1px
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
    right: -1px
}
.woocommerce-account .addresses .title:after, .woocommerce-account .addresses .title:before {
    content: " ";
    display: table
}
.woocommerce-account .addresses .title:after {
    clear: both
}
.woocommerce-account .addresses .title h3{
    float: left;
    font-size: 18px;
}
.woocommerce header.title h3 {
    font-size: 18px;
}
.woocommerce-account .addresses .title .edit {
    float: right
}
.woocommerce-account ol.commentlist.notes li.note p.meta {
    margin-bottom: 0
}
.woocommerce-account ol.commentlist.notes li.note .description p:last-child {
    margin-bottom: 0
}
.woocommerce-account ul.digital-downloads {
    margin-left: 0;
    padding-left: 0
}
.woocommerce-account ul.digital-downloads li {
    list-style: none;
    margin-left: 0;
    padding-left: 0
}
.woocommerce-account ul.digital-downloads li:before {
    font-family: FontAwesome;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: .618em;
    content: "";
    text-decoration: none
}
.woocommerce-account ul.digital-downloads li .count {
    float: right
}
.woocommerce-cart table.cart .product-thumbnail {
    min-width: 32px
}
.woocommerce-cart table.cart img {
    width: 32px;
    box-shadow: none
}
.woocommerce-cart table.cart td, .woocommerce-cart table.cart th {
    vertical-align: middle
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
    float: left;
    box-sizing: border-box;
    border: 1px solid #d3ced2;
    padding: 6px 6px 5px;
    margin: 0 4px 0 0;
    outline: 0;
    line-height: 1
}
.woocommerce-cart table.cart input {
    margin: 0;
    vertical-align: middle;
    /*line-height: 1*/
}
.woocommerce-cart .wc-proceed-to-checkout {
    padding: 1em 0
}
.woocommerce-cart .wc-proceed-to-checkout:after, .woocommerce-cart .wc-proceed-to-checkout:before {
    content: " ";
    display: table
}
.woocommerce-cart .wc-proceed-to-checkout:after {
    clear: both
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    display: block;
    text-align: center;
    margin-bottom: 1em
}
.woocommerce-cart .cart-collaterals .shipping_calculator .button {
    width: 100%;
    float: none;
    display: block;
}
/*.woocommerce-cart .cart-collaterals .shipping_calculator .shipping-calculator-button{
    display: none;
}
.woocommerce-cart .cart-collaterals .shipping_calculator .shipping-calculator-button:after {
    font-family: WooCommerce;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-left: .618em;
    content: "";
    text-decoration: none
}*/
.woocommerce-shipping-calculator button.button{
    margin-top:7px;
}

.woocommerce form.woocommerce-shipping-calculator .form-row{
    padding: 4px 0;
}
.woocommerce-cart .cart-collaterals .cart_totals p {
    margin: 0
}
.woocommerce-cart .cart-collaterals .cart_totals p small {
    color: #777;
    font-size: .83em
}
.woocommerce-cart .cart-collaterals .cart_totals table {
    border-collapse: separate;
    margin: 0 0 6px;
    padding: 0;
    border-left: 0
}
.woocommerce-cart .cart-collaterals .cart_totals table tr:first-child td, .woocommerce-cart .cart-collaterals .cart_totals table tr:first-child th {
    border-top: 0
}
.woocommerce-cart .cart-collaterals .cart_totals table th {
    width: 25%
}
.woocommerce-cart .cart-collaterals .cart_totals table td, .woocommerce-cart .cart-collaterals .cart_totals table th {
    vertical-align: top;
    border-left: 0;
    border-right: 0;
    padding: 6px 0;
}
.woocommerce-cart .cart-collaterals .cart_totals table td{
    padding-left: 8px;
}
.woocommerce-cart .cart-collaterals .cart_totals table small {
    color: #777
}
.woocommerce-cart .cart-collaterals .cart_totals table select {
    width: 100%
}
.woocommerce-cart .cart-collaterals .cart_totals .discount td {
    color: #77a464
}
.woocommerce-cart .cart-collaterals .cart_totals tr td, .woocommerce-cart .cart-collaterals .cart_totals tr th {
    border-top: 1px solid #ebe9eb
}
.woocommerce-cart .cart-collaterals .cross-sells ul.products li.product {
    margin-top: 0
}
.woocommerce-checkout .checkout .col-2 h3#ship-to-different-address {
    float: left;
    clear: none
}
.woocommerce-checkout .checkout .col-2 .form-row-first, .woocommerce-checkout .checkout .col-2 .notes {
    clear: left
}
.woocommerce-checkout .checkout .create-account small {
    font-size: 11px;
    color: #777;
    font-weight: 400
}
.woocommerce-checkout .checkout div.shipping-address {
    padding: 0;
    clear: left;
    width: 100%
}
.woocommerce-checkout .checkout .shipping_address {
    clear: both
}
.woocommerce-checkout #payment {
    background: #ebe9eb;
    border-radius: 5px
}
.woocommerce-checkout #payment ul.payment_methods {
    text-align: left;
    padding: 1em;
    border-bottom: 1px solid #d3ced2;
    margin: 0;
    list-style: none
}
.woocommerce-checkout #payment ul.payment_methods:after, .woocommerce-checkout #payment ul.payment_methods:before {
    content: " ";
    display: table
}
.woocommerce-checkout #payment ul.payment_methods:after {
    clear: both
}
.woocommerce-checkout #payment ul.payment_methods li {
    line-height: 2;
    text-align: left;
    margin: 0;
    font-weight: 400
}
.woocommerce-checkout #payment ul.payment_methods li input {
    margin: 0 1em 0 0
}
.woocommerce-checkout #payment ul.payment_methods li img {
    vertical-align: middle;
    margin: -2px 0 0 .5em;
    padding: 0;
    position: relative;
    box-shadow: none
}
.woocommerce-checkout #payment ul.payment_methods li img+img {
    margin-left: 2px
}
.woocommerce-checkout #payment div.form-row {
    padding: 1em
}
.woocommerce-checkout #payment div.payment_box {
    position: relative;
    width: 96%;
    padding: 1em 2%;
    margin: 1em 0;
    font-size: .92em;
    border-radius: 2px;
    line-height: 1.5;
    background-color: #dfdcde;
    color: #515151
}
.woocommerce-checkout #payment div.payment_box input.input-text, .woocommerce-checkout #payment div.payment_box textarea {
    border-color: #bbb3b9 #c7c1c6 #c7c1c6
}
.woocommerce-checkout #payment div.payment_box::-webkit-input-placeholder {
    color: #bbb3b9
}
.woocommerce-checkout #payment div.payment_box:-moz-placeholder {
    color: #bbb3b9
}
.woocommerce-checkout #payment div.payment_box:-ms-input-placeholder {
    color: #bbb3b9
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc, .woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry, .woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number {
    font-size: 1.5em;
    padding: 8px;
    background-repeat: no-repeat;
    background-position: right
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.visa, .woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.visa, .woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.visa {
    /*background-image: url(../images/icons/credit-cards/visa.png)*/
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.mastercard, .woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.mastercard, .woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.mastercard {
    /*background-image: url(../images/icons/credit-cards/mastercard.png)*/
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.laser, .woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.laser, .woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.laser {
    /*background-image: url(../images/icons/credit-cards/laser.png)*/
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.dinersclub, .woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.dinersclub, .woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.dinersclub {
    /*background-image: url(../images/icons/credit-cards/diners.png)*/
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.maestro, .woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.maestro, .woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.maestro {
    /*background-image: url(../images/icons/credit-cards/maestro.png)*/
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.jcb, .woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.jcb, .woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.jcb {
    /*background-image: url(../images/icons/credit-cards/jcb.png)*/
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.amex, .woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.amex, .woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.amex {
    /*background-image: url(../images/icons/credit-cards/amex.png)*/
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.discover, .woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.discover, .woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.discover {
    /*background-image: url(../images/icons/credit-cards/discover.png)*/
}
.woocommerce-checkout #payment div.payment_box span.help {
    font-size: .857em;
    color: #777;
    font-weight: 400
}
.woocommerce-checkout #payment div.payment_box .form-row {
    margin: 0 0 1em
}
.woocommerce-checkout #payment div.payment_box p:last-child {
    margin-bottom: 0
}
.woocommerce-checkout #payment div.payment_box:after {
    content: "";
    display: block;
    border: 8px solid #dfdcde;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -3px;
    left: 0;
    margin: -1em 0 0 2em
}
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
    float: right;
    line-height: 52px;
    font-size: .83em
}
.woocommerce-checkout #payment .payment_method_paypal img {
    max-height: 52px;
    vertical-align: middle
}
#content.twentyeleven .woocommerce-pagination a {
    font-size: 1em;
    line-height: 1
}
.single-product .twentythirteen #reply-title, .single-product .twentythirteen #respond #commentform, .single-product .twentythirteen .entry-summary {
    padding: 0
}
.single-product .twentythirteen p.stars {
    clear: both
}
.twentythirteen .woocommerce-breadcrumb {
    padding-top: 40px
}
.twentyfourteen ul.products li.product {
    margin-top: 0!important
}
/*Search Form*/

.woocommerce.widget_product_search input[type="submit"] {
    display: none;
}
.product_meta > span {
    display: block;
}
.woocommerce h2 {
    font-size: 18px;
}
.variations_button {
    margin-top: 20px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
    margin-bottom: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-weight: normal;
}
.woocommerce div.product .woocommerce-tabs .panel {
    border-radius: 0;
    padding: 14px;
    border: 1px solid #d3ced2;
    border-top: none;
}
#order_review_heading {
    margin-top: 21px;
}
.woocommerce .woocommerce-checkout h3 {
    font-size: 18px;
}
.woocommerce-tabs #tab-additional_information h2, .woocommerce #reviews #comments h2 {
    clear: none;
    margin-bottom: 21px;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
    width: 42px;
    padding: 1px;
}
.woocommerce-checkout-payment label {
    opacity: 1;
    filter: alpha(opacity=100);
}

/************************************************************************
* Cart Link Menu
*************************************************************************/
.wbc-shop-cart .cart-contents{
    /*margin-top:-1px;*/
}

.wbc-shop-cart .cart-contents .count{
    font-size: 11px;
    position: relative;
    top:-5px;
}

/************************************************************************
* Cart Page
*************************************************************************/

.shop_table .cart_item td {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}
.shop_table .cart_item td:first-child {
    border-left: none;
}
.woocommerce-cart table.cart img {
    width: 80px;
}
.woocommerce-cart table.cart .product-remove a.remove {
    margin: 0 auto;
}
.shop_table tr.cart_item:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.5);
}
/************************************************************************
* WIDGETS
*************************************************************************/

.price_slider_wrapper {
    margin-top: 14px;
}
/************************************************************************
* Media Queries
*************************************************************************/

@media only screen and (max-width: 768px) {
    .woocommerce table.shop_table_responsive thead, .woocommerce-page table.shop_table_responsive thead {
        display: none;
    }
    .woocommerce table.shop_table_responsive tbody tr:first-child td:first-child, .woocommerce-page table.shop_table_responsive tbody tr:first-child td:first-child {
        border-top: 0;
    }
    .woocommerce table.shop_table_responsive tbody th, .woocommerce-page table.shop_table_responsive tbody th {
        display: none;
    }
    .woocommerce table.shop_table_responsive tr, .woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr, .woocommerce-page table.shop_table_responsive tr td {
        display: block;
    }
    .woocommerce table.shop_table_responsive tr td:before, .woocommerce-page table.shop_table_responsive tr td:before {
        content: attr(data-title) ": ";
        font-weight: 700;
    }
    .woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
        background-color: rgba(0, 0, 0, .025);
    }
    .woocommerce table.my_account_orders tr td.order-actions, .woocommerce-page table.my_account_orders tr td.order-actions {
        text-align: left;
    }
    .woocommerce table.my_account_orders tr td.order-actions:before, .woocommerce-page table.my_account_orders tr td.order-actions:before {
        display: none;
    }
    .woocommerce table.my_account_orders tr td.order-actions .button, .woocommerce-page table.my_account_orders tr td.order-actions .button {
        float: none;
        margin: .125em .25em .125em 0;
    }
    .woocommerce .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-1, .woocommerce-page .col2-set .col-2 {
        float: none;
        width: 100%
    }
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        width: 50% !important;
        float: left;
        clear: both;
    }
    .woocommerce ul.products li.product:nth-child(2n), .woocommerce-page ul.products li.product:nth-child(2n) {
        float: right;
        clear: none!important;
    }
    .woocommerce #content div.product div.images, .woocommerce #content div.product div.summary, .woocommerce div.product div.images, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.images, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.images, .woocommerce-page div.product div.summary {
        float: none;
        width: 100%
    }
    .woocommerce #content table.cart .product-thumbnail, .woocommerce table.cart .product-thumbnail, .woocommerce-page #content table.cart .product-thumbnail, .woocommerce-page table.cart .product-thumbnail {
        display: none;
    }
    .woocommerce #content table.cart td.actions, .woocommerce table.cart td.actions, .woocommerce-page #content table.cart td.actions, .woocommerce-page table.cart td.actions {
        text-align: left;
    }
    .woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
        float: none;
        padding-bottom: .5em;
    }
    .woocommerce #content table.cart td.actions .coupon:after, .woocommerce #content table.cart td.actions .coupon:before, .woocommerce table.cart td.actions .coupon:after, .woocommerce table.cart td.actions .coupon:before, .woocommerce-page #content table.cart td.actions .coupon:after, .woocommerce-page #content table.cart td.actions .coupon:before, .woocommerce-page table.cart td.actions .coupon:after, .woocommerce-page table.cart td.actions .coupon:before {
        content: " ";
        display: table;
    }
    .woocommerce #content table.cart td.actions .coupon:after, .woocommerce table.cart td.actions .coupon:after, .woocommerce-page #content table.cart td.actions .coupon:after, .woocommerce-page table.cart td.actions .coupon:after {
        clear: both;
    }
    .woocommerce #content table.cart td.actions .button, .woocommerce #content table.cart td.actions .input-text, .woocommerce #content table.cart td.actions input, .woocommerce table.cart td.actions .button, .woocommerce table.cart td.actions .input-text, .woocommerce table.cart td.actions input, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions input, .woocommerce-page table.cart td.actions .button, .woocommerce-page table.cart td.actions .input-text, .woocommerce-page table.cart td.actions input {
        width: 48%;
        box-sizing: border-box;
    }
    .woocommerce #content table.cart td.actions .button.alt, .woocommerce #content table.cart td.actions .input-text+.button, .woocommerce table.cart td.actions .button.alt, .woocommerce table.cart td.actions .input-text+.button, .woocommerce-page #content table.cart td.actions .button.alt, .woocommerce-page #content table.cart td.actions .input-text+.button, .woocommerce-page table.cart td.actions .button.alt, .woocommerce-page table.cart td.actions .input-text+.button {
        float: right;
    }
    .woocommerce .cart-collaterals .cart_totals, .woocommerce .cart-collaterals .cross-sells, .woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .shipping_calculator {
        width: 100%;
        float: none;
        text-align: left;
    }
    .woocommerce-page.woocommerce-checkout form.login .form-row, .woocommerce.woocommerce-checkout form.login .form-row {
        width: 100%;
        float: none;
    }
    .woocommerce #payment .terms, .woocommerce-page #payment .terms {
        text-align: left;
        padding: 0;
    }
    .woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
        float: none;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 1em;
    }
    .woocommerce .lost_reset_password .form-row-first, .woocommerce .lost_reset_password .form-row-last, .woocommerce-page .lost_reset_password .form-row-first, .woocommerce-page .lost_reset_password .form-row-last {
        width: 100%;
        float: none;
        margin-right: 0;
    }
    .single-product .twentythirteen .panel {
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
}
@media only screen and (max-width: 500px) {
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        width: 100% !important;
    }
}